Finish/Spectre.Console.dll
Finish/System.Speech.dll
Finish/VoiceAssistent.deps.json
Finish/VoiceAssistent.dll
Finish/VoiceAssistent.exe
Finish/VoiceAssistent.pdb
Finish/VoiceAssistent.runtimeconfig.json
Finish/runtimes/win/lib/net7.0/System.Speech.dll
